.button {
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  border: 0;
  border-radius: var(--default-border-radius);
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.button--primary {
  color: var(--text-secondary-color);
  background-color: var(--main-bg-color);
}
.button--primary:hover {
  color: var(--text-secondary-color);
  background-color: var(--accent-bg-color);
}

.button--secondary {
  color: var(--text-primary-color);
  background-color: var(--secondary-bg-color);
  box-shadow: var(--default-box-shadow);
}
.button--secondary:hover {
  color: var(--text-secondary-color);
  background-color: var(--main-bg-color);
}

.button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.button--large {
  font-size: 16px;
  padding: 12px 24px;
}
